// :root {
//   --color-black: #000;
//   --color-white: #fff;
// }
$mainColor: #FED100;
$secondaryColor:#FFFFFF;
$buttonColor: #FF352B;
$fontColor:#333333;
$mainFont: "Montserrat", "Roboto", sans-serif;